<h1>Here is the order</h1>
<p>Id: <%= @order["id"]%></p>
<p>User Id: <%= @order["user_id"]%></p>

<p>Subtotal: <%= @order["subtotal"]%></p>
<p>Tax: <%= @order["tax"]%></p>
<p>Total: <%= @order["total"]%></p>
<p>Email: <%= @order["user"]["email"]%></p>

<h1>Here is info about the order</h1>
<% @order["carted_products"].each do |carted_product|%>
  <p>Product Name: <%= carted_product["product"]["name"]%></p>
  <p>Quantity: <%= carted_product["quantity"]%></p>
  <p>Product Price: <%= carted_product["product"]["price"]%></p>
  <hr>
<% end %>
