<%= form_tag "/client/products", method: :get do %>
  <input type="text" name="client_search">
  <input type="submit" value="Search for product">
<% end %>

<% @products.each do |product| %>
  <p>id: <%= product["id"]  %></p>
  <p>Name: <a href="/client/products/<%= product["id"]%>"><%= product["name"] %></a></p>
  <p>Description: <%= product["description"] %></p>
  <p>Price: <%= product["price"]%></p>
  <p>Tax: <%= product["formatted"]["tax"] %></p>
  <p>Total: <%= product["formatted"]["total"] %></p>
  <% if product["price"].to_i < 4 %>
    <h1 style="color: red;">Discount Item!</h1>
  <% else %>
    <h1 style="color: red;">Everyday Value!</h1>
  <% end %>
  <p>Stocked: <%= product["stocked"] %></p>
  <hr>
<% end %>


