Product:


<p>id: <%= @product["id"]  %></p>
<p>name: <%= @product["name"] %></p>
<p>description: <%= @product["description"] %></p>
<p>price: <%= @product["price"]%></p>
<p>image_url: <%= @product["image_url"] %></p>