
<p>Name: <%= @product["name"] %></p>
<p>Description: <%= @product["description"] %></p>
<p>Price: <%= @product["price"]%></p>
<p>Tax: <%= @product["formatted"]["tax"]%></p>
<p>Total: <%= @product["formatted"]["total"]%></p>
  <% if @product["price"].to_i < 4 %>
    <h1 style="color: red;">Discount Item!</h1>
  <% else %>
    <h1 style="color: red;">Everyday Value!</h1>
  <% end %>
<p>Stocked: <%= @product["stocked"] %></p>
<p>Supplier: <%= @product["supplier"]["name"] %></p>

<p><a href="/client/products/<%= @product["id"]%>/edit">Edit this product</a></p>

<p><a href="/client/products/<%= @product["id"]%>" data-method="delete">Delete this product</a></p>

<%= form_tag "/client/orders", method: :post do %>
  <p>Product Id: <input type="text" name="product_id"></p>
  <p>Quantity: <input type="text" name="quantity"></p>
  <input type="submit" name="place order">
<% end %>
