<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstoneClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <a href="/client/products">Home</a>
    </div>
    <div>
      <a href="/client/products/new">New Product</a>
    </div>
    <div>
    <a href="/client/signup">Sign Up</a>
    </div>
    <div>
      <a href="/client/login">Log In</a>
      <a href="/client/logout" data-method="delete">Log Out</a>
    </div>
    <div>
      <a href="/client/products?category=Writing Instruments">Writing Instruments</a>
      <a href="/client/products?category=electronics">Electronics</a>
      <a href="/client/products?category=paper">Paper</a>
      <%= @jwt %>
    </div>
    <div>
      <a href="/client/carted_products">Cart</a>
    </div>
    <% flash.each do |name, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
